body{
  background-color: #72198A;
  color: white;
  text-align: center;
}
body h1{
  font-size: 2em;
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: black;
}

ul{
  list-style: none;
  font-size: 1.1em;
}

body .notes{
  display: block;
  font-size: 12px;
  padding-top: 0em;
  padding-bottom: 2em;
}

#setBracket{
  display: inline;
  font-size: 3em;
}
